.top_navigator TextView {
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 2%;
    color: #000000;
    font: 42% arial;
}

sv {
    width: 100%;
    height: 100%;
    background-color: #7fc8fd;
}

.blue {
    width: 100%;
    height: 100%;
    background-color: #7fc8fd;
}

    .blue dl {
        height: 32.5sp;
        width: 96%;
        margin-top: 3.7%;
        margin-left: 2%;
        background-color: #f8f8f8;
        border-width: 1px;
        border-color: #3384b8;
        border-radius: 7px;
    }

.summ {
    width: 26.6%;
    height: 100%;
}

    .summ TextView {
        height: 37%;
        width: 100%;
        text-align: center;
        font: 70% arial;
        color: #43acfd;
    }

.descr {
    height: 9%;
    width: 100%;
    text-align: center;
    font: 100% arial;
    color: #43acfd;
}

.navy {
    width: 100%;
    height: 1px;
    background-color: #3384b8;
}

.grid {
    height: 50%;
    width: 71%;
    background-color: #ffffff;
}