.grid vl {
    width: 90%;
}

.btn_back {
    width: 45%;
    height: 100%;
    dock-align: left;
}

    .btn_back TextView {
        height: 33.5%;
        margin-left: 3.8%;
    }

    .btn_back img {
        margin-left: 6.4%;
    }

        .top_navigator hl TextView {
            text-align: left;
            margin-left: -7%;
        }
