.bottom_panel {
    width: 100%;
    height: 10sp;
    background-color: #ffffff;
    dock-align: bottom;
}

.double_line {
    height: 2px;
}

sv {
    height: 77sp;
}

.grid vl {
    width: 83.3%;
    height: 100%;
    padding-top: 13%;
    padding-left: 2.7%;
}