.grid vl {
    width: 96%;
}

    .grid vl dl Button {
        width: 32%;
        margin-right: 7%;
    }

    .grid vl EditText {
        height: 85%;
        width: 90%;
        font: 40% Arial;
        color: #2d89cf;
    }

.caption_row {
    width: 100%;
    height: 35%;
    text-align: left;
    margin-left: 3.5%;
    margin-top: 20%;
    font: 100% arial;
    color: #2d89cf;
}
