body {
    background-color:#FFF; 
}

line {
    width: 100%;
    height:1px;
    background-color:#000000;
}


sv {
    width: 100%;
    height: 100%;
}

vl {
    width: 100%;
    height: 100%;
}

hl {
    width: 100%;
    height: 50px;
}

nb {
    width: 100%;
    height: 40px;
}

TextView {
    background-color:none;
    color:#444444;
}

Button {
    background-color:#808080;
    color:#fff;
    width:100px;
    height:25px;
}

.H1 {
    font:20px Arial;
}

.H2 {
    font:14px Arial;
    color:#b2749b;
}

.H3 {
    font:20px Arial-BoldMT;
}

.H4 {
    font:14px Arial-BoldMT;
}

.btnBack {
    background-image: url(button_left.png);
    height: 56px;
    width:20%;
    background-color:#363f6c;
}

.btnForward {
    background-image: url(button_right.png);
    height: 56px;
    width:20%;
    background-color:#363f6c;
}



.topNavigator {
    height:56px;
    background-color:#363f6c;
}

.topNavigator TextView {
    width:60%;
    height:56px;
    background-color:none;
    text-align: center;
    color: #FFF;
    font:24px arial;
}



.header {
    height: 61px;
    background-color: #dbd7e1;
}


.grid headerEdit {
    height: 61px;
    background-color: #dbd7e1;
    width:100%;
    margin-top:0px;
}

.grid line {
    background-color:#879091;
    margin-top:5px;
}

.grid highlitedLine {
    background-color:#879091;
    margin-top:0px;
}

.grid hl {
    height:56px;
    selected-color:#bacdce;
}

.grid hl img {
    width:18px;
    height:18px;
    margin-top:18px;
    background-image: url(icon_more.png);
}

.grid hl vl {
    width:90%;
    height:56px;
    margin-top:5px;
    padding-left:10px;
}

.grid hl vl1 {
    width:80%;
    height:56px;
    margin-top:5px;
    padding-left:10px;
}

.grid hl TextView {
    width:100%;
    height:100%;
}

.grid hl vl TextView {
    width:100%;
    height:50%;
}

.grid hl vl hl TextView {
    width:100%;
    height:50%;
}

.hl2 vl {
    width: 50%;
    height: 56px;
    margin-top: 5px;
    padding-left: 10px;
}

.grid hl CheckBox {
    selected-color:#6f6583;   
    background-color:#c9c3d5;
}

.grid hl vl CheckBox {
    selected-color:#6f6583;
    background-color:#c9c3d5;
}

.grid hl EditText {
    width:100%;
    height:28px;
    background-color: #f0f0f0;
    color:#000000;
    border-style:none;
}

.grid hl vl EditText {
    width:100%;
    height:28px;
    background-color: #f0f0f0;
    color:#000000;
    border-style:none;
}


.search{
    height:56px;
    background-color:#9e87a7;
}

.search hl{
    margin-left:10px;
    margin-top:10px;
    height:70%;
    width:65%;
    border-width:1px;
    border-color:#283636;
    background-color: #ffffff;
    border-radius:8px;
}

.search hl img{
    height:30px;
    width:26px;
    margin-top:3px;
    margin-left:3px;
    background-image: url(icon_zoom.png);
    background-color: #ffffff;
}

.search hl EditText {
    width:80%;
    height:100%;
    background-color: #ffffff;
    color:#b2749b;
    border-style:none;
}

.search Button {
    margin-left:10px;
    margin-top:10px;
    width:25%;
    height:70%;
    background-color:#363f6c;
    color:#363f6c; 
    border-width:1px;
    border-color:#283636;
    border-radius:8px;
}

vl line {
    background-color:#283636;
}
