body {
    background-color: #FFF;
}

line {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

sv {
    width: 100%;
    height: 100%;
}

vl {
    width: 100%;
    height: 100%;
}

hl {
    width: 100%;
}

dl {
    width: 100%;
}

    dl hl {
        width: 100%;
        height: 100%;
    }

TextView {
    background-color: none;
    color: #444444;
}

Button {
    color: #fff;
}

.H1 {
    font: 60% Arial;
}

.H2 {
    font: 40% Arial;
    color: #b2749b;
}

.H3 {
    font: 40% Arial-BoldMT;
}

.H4 {
    font: 40% Arial-BoldMT;
}

.H5 {
    font: 60% Arial;
    color: #b2749b;
}

.H6 {
    font: 60% Arial;
    color: #cf3333;
}

.btnBack {
    background-image: url(button_left.png);
    height: auto;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
    dock-align: left;
}

.btnForward {
    background-image: url(button_right.png);
    height: auto;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
    dock-align: right;
}

.topNavigator {
    height: 10%;
    background-color: #282f5a;
}

    .topNavigator TextView {
        width: auto;
        height: auto;
        margin-top: 20%;
        margin-bottom: 20%;
        text-align: center;
        color: #FFF;
        font: 60% arial;
    }

.header line {
    background-color: #879091;
}

.grid headerEdit {
    height: 99%;
    background-color: #dbd7e1;
    width: 100%;
    margin-top: 0px;
}

.grid headerEdit {
    width: 100%;
    height: 50%;
}

.grid line {
    background-color: #879091;
    margin-top: 0%;
}

.grid highlitedLine {
    background-color: #879091;
    margin-top: 0px;
}

.grid hl {
    height: 15%;
    selected-color: #bacdce;
}

.grid singleLayout {
    height: 100%;
}

.grid hl img {
    height: 30%;
    margin-top: 35%;
    background-image: url(icon_more.png);
}

.grid hl vl {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    padding-left: 5%;
}

.grid hl vl1 {
    width: 80%;
    height: 90%;
    margin-top: 5%;
    padding-left: 2%;
}

.grid hl vl2 {
    width: 2%;
    height: 90%;
    background-color: #ef0648;
}

.grid hl vl3 {
    width: 88%;
    height: 90%;
    margin-top: 5%;
}

.grid hl vl4 {
    width: 45%;
    height: 90%;
    margin-top: 5%;
}

.grid hl vl hl {
    width: 100%;
    height: 100%;
}

.grid hl TextView {
    width: 100%;
    height: 100%;
}

.grid hl vl TextView {
    width: 100%;
    height: 50%;
}

.grid hl vl hl TextView {
    width: 100%;
    height: 100%;
}

.grid hl CheckBox {
    selected-color: #6f6583;
    background-color: #c9c3d5;
}

.grid hl vl CheckBox {
    selected-color: #6f6583;
    background-color: #c9c3d5;
}

.grid hl EditText {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    color: #000000;
    border-style: none;
}

.grid hl vl EditText {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    color: #000000;
    border-style: none;
}

.grid textBlock {
    height: 30%;
}

    .grid textBlock vl hl {
        height: 75%;
    }

    .grid textBlock vl TextView {
        height: 25%;
    }

    .grid textBlock vl hl TextView {
        font: 20% arial;
        white-space: normal;
        padding-right: 2%;
    }

.header {
    height: 15%;
    background-color: #dbd7e1;
}

    .header grid hl {
        height: 100%;
    }

.hl2 vl {
    width: 40%;
    height: 90%;
    margin-top: 0%;
    padding-left: 5%;
    padding-top: 5%;
}

    .hl2 vl EditText {
        width: 90%;
        border-style: solid;
        border-color: #f00;
        border-width: 1px;
        border-radius: 5px;
        padding-left: 5%;
    }


.search {
    height: 10%;
    background-color: #8b7498;
}

    .search dl {
        margin-left: 2%;
        margin-top: 20%;
        height: 60%;
        width: 60%;
        border-width: 1px;
        border-color: #283636;
        background-color: #ffffff;
        border-radius: 10px;
    }

        .search dl img {
            height: auto;
            margin-top: 10%;
            margin-left: 2%;
            background-image: url(icon_zoom.png);
            background-color: #ffffff;
            dock-align: left;
        }

        .search dl EditText {
            width: auto;
            height: auto;
            margin-top: 10%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 5%;
            background-color: #ffffff;
            color: #8b7498;
            border-style: none;
            dock-align: right;
            font: 80% arial;
        }

    .search Button {
        margin-left: 6%;
        margin-top: 20%;
        width: 30%;
        height: 60%;
        background-color: #282f5a;
        color: #282f5a;
        border-width: 1px;
        border-color: #283636;
        border-radius: 10px;
    }

vl line {
    background-color: #283636;
}

CheckBox {
    width: 60px;
    height: 60px;
}
