vl hl {
    height: 96px;
    margin-top:3px;
}

vl hl Button {
    width:96px;
    height:96px;
    margin-left:8px;
    background-color:#fff;
}

.caption {
    height:16px;
}

.caption TextView {
    width:33%;
    height:100%;
    text-align:center;
    font:14px arial;
}

Indicator {
    width:30px;
    height:30px;
    margin-left:10px;
    margin-top:10px;
    color:#8a9d9e;
}

.btnTodo {
    background-image: url(todo.png);
}

.btnDistr {
    background-image: url(distr_active.png);
}

.btnSchedule {
    background-image: url(schedule.png);
}

.btnOrder {
    background-image: url(order_active.png);
}

.btnVisit {
    background-image: url(visit.png);
}

.btnOutlets {
    background-image: url(outlets.png);
}

.btnKpi {
    background-image: url(kpi.png);
}

.btnSettings {
    background-image: url(settings.png);
}

.btnSync {
    background-image: url(sync.png);
}

.status {
    height:8px;
}

.status TextView {
    font:8px Arial;
    height:100%;
    width:100%;
}

.logo2 {
    background-image: url(Logo31.png);
    height:85px;
}

.separatorOfLogo {
    height: 1px;
}