body dl {
	background-color: #efeff4;
}

.main_row {
	color: #2d89cf;
}

.comment_row {
	width: 100%;
	height: 40%;
	white-space: normal;
	font: 42% Arial;
	color: #8e8e93;
}

.grid vl {
	width: 100%;
	padding-right: 11%;
}

.grid vl MemoEdit {
	margin-top: 10%;
}

.partialW {
	width: 80%;
	height: 100%;
	padding-right: 2.4mm;
	padding-top: 11%;
	dock-align: left;
}

.phone {
	width: 3.5mm;
	height: 100%;
	/*margin-top: 37%;*/
	margin-right: 3mm;
	dock-align: right;	
}

.phone vl{
	background-image: url(phone.png);
	height: 0%;
	width: 100%;
	vertical-align: central;
}

.description_row {
	height: 40%;
	font: 42% Arial;
	color: #8e8e93;
}

.main_row {
	height: 40%;
	margin-top: 5%;
	white-space: normal;
	color: #2D89CF;
}

.left_tv{
	color: #fd472b;
}