/*.menu_text {
	width: 100%;
	height: 32%;
	margin-left: 0.5mm;
	vertical-align: central;
	dock-align: left;
	color: #ffffff;
	font: 90% arial;
	background-color: #11aaaa;
}*/

sv {
	background-color: #7fc8fd;
}

svl vl Textview {
	color: #000000;
	font: 50% arial;
	width: 100%;
	height: 10%;
	background-color: #336699;
}

svl vl EditText {
	height: 20%;
	width: 90%;
	font: 45% Arial;
	color: #2d89cf;
	border-color: #336699;
	border-radius: 16px;
	border-width: 4px;
	border-style: solid;
	margin-top: 2%;
}

.register_button {
	color: #000000;
	font: 20% arial;
	height: 10%;
	width: 80%;
}

.grid {
	height: 45%;
	width: auto;
	background-color: #f8f8f8;
}

.grid img {
	dock-align: right;
}

.grid vl main_row {
	font: 95% Arial-BoldMT;
	color: #43acfd;
	white-space: nowrap;
}

.grid vl description_row {
	height: 23%;
	font: 80% arial;
	color: #000;
	margin-top: 10%;
	margin-bottom: 0%;
}

.blue {
	width: 100%;
	height: 100%;
	padding-top: 2%;
	background-image: url(summary.png);
}

.blue dl {
	height: 35%;
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	background-color: #f8f8f8;
	border-style: solid;
	border-width: 1px;
	border-color: #3384b8;
	border-radius: 10px;
}

.blue dl left {
	width: 60%;
	height: 100%;
	margin-left: 2%;
	dock-align: left;
}

.blue dl right {
	width: 36%;
	height: 100%;
	margin-right: 2%;
	dock-align: right;
}

.blue dl right grid vl description_row {
	margin-top: 0%;
}

.blue dl grid {
	margin-left: 11%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.blue dl line {
	margin-left: 11%;
	margin-right: 2%;
}

.short_panel {
	height: 17%;
}

.short_panel grid {
	height: 92%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.right line {
	margin-top: 5%;
}

.descr {
	text-align: left;
	font: 80% arial;
}

.caption_big {
	margin-top: 5%;
	width: 100%;
	height: 30%;
}

.caption_big TextView {
	height: 100%;
	width: 33%;
	margin-left: 2%;
	text-align: left;
	font: 95% Arial-BoldMT;
	color: #43acfd;
	dock-align: left;
}

.caption_big descr {
	height: 35%;
	width: 80%;
	margin-top: 15%;
	margin-bottom: -15%;
	text-align: left;
	font: 80% arial;
	dock-align: top;
}

.simple {
	width: 80%;
	height: 70%;
	margin-left: 5%;
}

.simple TextView {
	height: 15%;
	width: 100%;
}

.simple hl {
	height: 15%;
	width: 100%;
}

.simple hl TextView {
	width: 100%;
	height: 100%;
	font: 80% Arial-BoldMT;
	color: #000;
}

.simple hl descr {
	width: 33%;
	font: 80% Arial;
}

.simple hl mark {
	width: 20%;
	margin-left: 0%;
	margin-right: 3%;
	text-align: center;
	color: #d12d2d;
	background-color: #fab9b9;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

.docs {
	dock-align: right;
}

.navy {
	width: 100%;
	height: 1px;
	background-color: #3384b8;
}
