.blue {
	width: 100%;
	height: 100%;
	padding-top: 2%;
	background-color: #efeff4;
}

.blue dl {
	height: 40%;
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	border-style: solid;
	border-width: 1px;
	border-color: #c8c7cc;
	border-radius: 10px;
	background-color: #ffffff;
}

.blue dl grid {
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.blue dl line {
	margin-left: 11%;
	margin-right: 2%;
}

.short_panel {
	height: 17%;
}

.short_panel grid {
	height: 94%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.grid {
	height: 45%;
	width: auto;
}

.grid vl main_row {
	height: 55%;
	font: 91% Arial-BoldMT;
	color: #FF7C4A;
	white-space: nowrap;
	background-color: #ffffff;
	margin-right: 2%;
}

.grid vl description_row {
	height: 23%;
	font: 80% arial;
	color: #8e8e93;
	margin-top: 0%;
	margin-bottom: 0%;
}

