.btn_showpicture {
	height: 2.9sp;
	width: 100%;
	selected-color: #bacdce;
	background-color: #efeff4;
	dock-align: top;
}

.btn_showpicture TextView {
	height: 100%;
	width: 100%;
	margin-left: 3.5%;
	color: #2d89cf;
	font: 80% arial;
}

.60 {
	width: 100%;
	margin-top: 0%;
	background-color: #fff;
}

.60 Image {
	width: 100%;
	height: 0%;
	margin-top: 0%;
}

.clickable {
	width: 60%;
}

.clickable TextView {
	height: 100%;
	width: 100%;
}

.swipe_history{
	height: 7.8sp;
}

.repeat{
	width: 27%;
	height: 100%;
	background-color: #4dd865;
}

.repeat TextView{
	width: 100%;
	height: 100%;
	vertical-align: central;
	horizontal-align: central;
	margin-top: 30%;
	text-align: center;
	color: #ffffff;
	font: 45% Arial;
}

.parameter_grid{
	background-color: #ffffff;
}

.parameter_grid TextView{
	width: 100%;
}

.black_text{
	color: #000000;
}