.grid vl {
	width: 90%;
}

.swipe_layout {
	height: 15.3sp;
}

.red_swipe {
	height: 15.3sp;
	width: 28%;
	background-color: #f74747;
}

.red_swipe vl {
	height: 100%;
	width: 100%;
}

.red_swipe vl img {
	background-image: url(Trashbox.png);
	height: 40.1%;
	margin-top: 21%;
	horizontal-align: central;
}

.red_swipe vl TextView {
	height: 15%;
	width: 100%;
	margin-top: 10%;
	text-align: center;
	color: #fff;
	font: 100% Arial;
}