.trple {
	width: 33.33%;
	height: 100%;
	selected-color: #bacdce;
}

.trple TextView {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_left_tv {
	width: 100%;
	height: 100%;
	text-align: left;
	padding-top: 25%;
	margin-left: 2.4mm;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_center_tv {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 25%;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_right_tv {
	width: 100%;
	height: 100%;
	text-align: right;
	padding-top: 25%;
	margin-right: 2.4mm;
	color: #2d89cf;
	font: 37% arial;
}

.swipe_layout {
	height: 7.8sp;
	background-color: #ffffff;
}

.red_swipe {
	height: 7.8sp;
	width: 28%;
	background-color: #f74747;
}

.red_swipe TextView {
	height: 30%;
	width: 100%;
	text-align: center;
	vertical-align: central;
	color: #fff;
	font: 100% Arial;
}

.grid vl hl {
	height: 100%;
	width: 100%;
}

.grid vl hl TextView {
	height: 65%;
	vertical-align: central;
}

.grid Button {
	width: 10.3mm;
	height: 9mm;
	margin-top: 16%;
	margin-right: 2.4mm;
	dock-align: right;
	background-image: url(geo_set.png);	
}

.grid img{
	width: 10.3mm;
	height: 9mm;	
	dock-align: right;
	background-image: url(geo_empty.png);	
}

.coordButton {
	width: 15mm;
	height: 4.1mm;
	vertical-align: central;
	margin-top: 10%; 
	border-style : solid;
	border-width: 1px;
	border-color: #43acfd;
	border-radius: 5px;
	color: #2d89cf;
	text-align: center;
	font: 60% arial;
}

.add_button{
	width: 13.5mm;
	height: 4.1mm;
	vertical-align: central;
	margin-top: 10%; 
	border-style : solid;
	border-width: 1px;
	border-color: #43acfd;
	border-radius: 5px;
	color: #2d89cf;
	text-align: center;
	font: 60% arial;
}

.carousel{
	height: 25.6mm;
	background-color: #ffffff;
}

.carousel vl{
	height: 100%;
	width: 45.7mm;
	margin-top: 0.5mm;
	margin-bottom: 2.3mm;
}

.carousel vl img{
	height: 100%;
	horizontal-align: central;
	background-color: #ccc01f;
}

.snapshot_grid{
	width: 100%;
	height: 6.7mm;
	dock-align: top;
}

.snapshot_grid TextView{
	width: 100%;
	height: 100%;
	white-space: nowrap;
	margin-left: 2.4mm;
	padding-top: 35%;
	font: 28% Arial;
	color: #8e8e93;
	dock-align: left;
	text-align: left;
}

.snapshot_grid Button{
	height: 48%;
	width: 10.7mm;
	dock-align: right;
	margin-right: 2.4mm;
	margin-top: 25.9%;
	border-style : solid;
	border-width: 1px;
	border-color: #43acfd;
	border-radius: 5px;
	text-align: center;
	font: 60% arial;
}