.trple {
	width: 33.33%;
	height: 100%;
	selected-color: #bacdce;
}

.trple TextView {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_left_tv {
	width: 100%;
	height: 100%;
	text-align: left;
	padding-top: 25%;
	margin-left: 15%;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_center_tv {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 25%;
	color: #2d89cf;
	font: 37% arial;
}

.trpl_right_tv {
	width: 100%;
	height: 100%;
	text-align: right;
	padding-top: 25%;
	margin-right: 15%;
	color: #2d89cf;
	font: 37% arial;
}