.grid vl {
	dock-align: left;
}

.grid dl {
	width: 100%;
	height: 50%;
	padding-top: 2.4mm;
	padding-left: 2.4mm;
}

.grid hl {
	padding-top: 11%;
	padding-bottom: 11%;
	padding-left: 2.4mm;
	padding-right: 2.4mm;
}

.parameter_grid TextView {
	width: 74%;
}

.main_row {
	padding-left: 2.4mm;
}

.description_row {
	width: 60%;
	height: 40%;
	font: 2.2mm Arial;
}

.swipe_layout {
	height: 6.7mm;
	background-color: #ffffff;
}

.red_swipe {
	height: 6.7mm;
	width: 13.6mm;
	background-color: #f74747;
}

.red_swipe TextView {
	height: 30%;
	width: 100%;
	text-align: center;
	vertical-align: central;
	color: #fff;
	font: 100% Arial;
}

.forward{
	width: 16.3mm;
	height: 100%;
	dock-align: right;
}

.forward TextView{
	height: 100%;
	width: 10% auto;
	padding-top: 26%;
	text-align: right;
	color: #bebebe;
	font: 39.5% arial;
	dock-align: right;
}

.forward vl{
	height: 100%;
	width: 5%;
	dock-align: right;
}

.forward img{
	background-image: url(required_h_wh.png);
	width: 0%;
	height: 28%;
	margin-right: 1%;
	margin-top: 36%;
	dock-align: right;
}

.child_grid {
	height: 13.8mm;
	width: 100%;
	background-color: #efeff4;
	selected-color: #bacdce;
}

.child_grid vl{
	width: 90%;
	height: 100%;
	padding-top: 2.4mm;
	padding-left: 2.4mm;
	background-color: #efeff4;
	padding-left: 10%;
}

.child_grid vl EditText {
	height: 40%;
	width: 90%;
	font: 45% Arial;
	color: #2d89cf;
}

.child_grid hl {
	width: 90%;
	height: 100%;
	padding-top: 2.4mm;
	padding-left: 2.4mm;
	background-color: #efeff4;
	padding-left: 10%;
}

.answer_main_row {
	width: 100%;
	height: 40%;
	margin-top: 5%;
	white-space: normal;
	font: 42% Arial;
	color: #2D89CF;
	placeholder-color: #2D89CF;
}

.answer_snapshot {
	width: 0%;
	height: 98%;
	margin-bottom: 11%;
	margin-left: 8%;
	background-color: #336699;
}

.required_grid {
	height: 7.9mm;
	selected-color: #bacdce;
	background-color: #efeff4;
	dock-align: top;
	padding-left: 2.4mm;
}

.required_grid TextView {
	width: 25% auto;
	height: 50%;
	text-align: left;
	margin-top: 42%;
	white-space: nowrap;
	font: 60% arial;
	color: #8e8e93;
}

.required_grid img{
	background-image: url(required_h_gr.png);
	width: 0%;
	height: 25%;
	margin-top: 44%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.required_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(required_side_wh.png);
	dock-align: left;
}

.answered_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(answered_side_wh.png);
	dock-align: left;
}

.required_side_gr{
	height: 100%;
	width: 1.2mm;
	background-image: url(required_side_gr.png);
	dock-align: left;
}

.empty_side_wh{
	height: 100%;
	width: 1.2mm;
	dock-align: left;
}

.empty_side_gr{
	height: 100%;
	width: 1.2mm;
	dock-align: left;
}

.answered_side_gr{
	height: 100%;
	width: 1.2mm;
	background-image: url(answered_side_gr.png);
	dock-align: left;
}

.single_rec{
	width: 9mm;
	height: 2.5mm;
	dock-align: right;
	margin-top: 5%;
	padding-top: 0.1mm;
	padding-left: 0.1mm;
	margin-right: 0.5mm;
	text-align: center;
	color: #ffffff;
	background-color: #4dd865;
	border-style: solid;
	border-width: 1px;
	border-color: #4dd865;
	border-radius: 5px;
	font: 1.7mm Arial;
}

.search_filter{
	height: 15.4sp;
	width: 100%;
}
