.parameter_grid TextView {
	color: #000000;
}

.main_row{
	color: #2d89cf;
	height: 20%;
	font: 85% Arial;
}

.required_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(required_side_wh.png);
	dock-align: left;
	padding-right: 0mm;
}

.answered_side_wh{
	height: 100%;
	width: 1.2mm;
	background-image: url(answered_side_wh.png);
	dock-align: left;
	padding-right: 0mm;
}

.empty_side_wh{
	height: 100%;
	width: 1.2mm;
	dock-align: left;
}
