body {
    background-color:#FFF; 
}

line {
    width: 100%;
    height:1px;
    background-color:#000000;
}


sv {
    width: 100%;
    height: 100%;
}

vl {
    width: 100%;
    height: 100%;
}

hl {
    width: 100%;
    height: 33px;
}

nb {
    width: 100%;
    height: 27px;
}

TextView {
    background-color:none;
    color:#444444;
}

Button {
    background-color:#808080;
    color:#fff;
    width:75px;
    height:17px;
}

.H1 {
    font:13px Arial;
}

.H2 {
    font:9px Arial;
}

.H3 {
    font:13px Arial-BoldMT;
}

.H4 {
    font:9px Arial-BoldMT;
}

.btnBack {
    background-image: url(button_left.png);
    height: 37px;
    width:20%;
}

.btnForward {
    background-image: url(button_right.png);
    height: 37px;
    width:20%;
}



.topNavigator {
    height:37px;
    background-color:#2a3b3c;
}

.topNavigator TextView {
    width:60%;
    height:37px;
    background-color:none;
    text-align: center;
    color: #FFF;
    font:24px arial;
}



.header {
    height: 41px;
}

.grid line {
    background-color:#879091;
    margin-top:3px;
}

.grid hl {
    height:37px;
    selected-color:#bacdce;
}

.grid hl img {
    width:13px;
    height:12px;
    margin-top:12px;
    background-image: url(icon_more.png);
}

.grid hl vl {
    width:90%;
    height:37px;
    margin-top:3px;
    padding-left:8px;
}

.grid hl vl TextView {
    width:100%;
    height:50%;
}

.grid hl CheckBox {
    selected-color:#416765;
    background-color:#8a9d9e;
}

.grid hl EditText {
    width:100%;
    height:19px;
    background-color: #f0f0f0;
    color:#000000;
    border-style:none;
}

.grid hl vl EditText {
    width:100%;
    height:19px;
    background-color: #f0f0f0;
    color:#000000;
    border-style:none;
}


.search{
    height:37px;
    background-color:#8a9d9e;
}

.search hl{
    margin-left:8px;
    margin-top:7px;
    height:70%;
    width:65%;
    border-width:1px;
    border-color:#283636;
    background-color: #ffffff;
    border-radius:8px;
}

.search hl img{
    height:20px;
    width:20px;
    margin-top:2px;
    margin-left:2px;
    background-image: url(icon_zoom.png);
    background-color: #ffffff;
}

.search hl EditText {
    width:80%;
    height:100%;
    background-color: #ffffff;
    color:#000000;
    border-style:none;
}

.search Button {
    margin-left:8px;
    margin-top:7px;
    width:25%;
    height:70%;
    background-color:#416765;
    color:#ffffff; 
    border-width:1px;
    border-color:#283636;
    border-radius:8px;
}

vl line {
    background-color:#283636;
}
