vl hl {
    height: 192px;
    margin-top: 52px;
}

    vl hl Button {
        width: 192px;
        height: 192px;
        margin-left: 74px;
    }

.caption {
    height: 39px;
    margin-top: 21px;
}

    .caption TextView {
        width: 33%;
        height: 100%;
        text-align: center;
        font: 32px arial;
    }

Indicator {
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-top: 15px;
    color: #8a9d9e;
}

.btnTodo {
    background-image: url(todo.png);
}

.btnDistr {
    margin-left: 37px;
    background-image: url(distr_active.png);
}

.btnSchedule {
    margin-left: 37px;
    background-image: url(schedule.png);
}

.btnOrder {
    background-image: url(order_active.png);
}

.btnVisit {
    background-image: url(visit.png);
}

.btnOutlets {
    margin-left: 37px;
    background-image: url(outlets.png);
}

.btnKpi {
    background-image: url(kpi.png);
}

.btnSettings {
    background-image: url(settings.png);
}

.btnSync {
    background-image: url(sync.png);
}

.status {
    height: 13px;
}

    .status TextView {
        font: 13px Arial;
        height: 100%;
        width: 100%;
    }

.logo2 {
    background-image: url(Logo31.png);
    margin-top: 72px;
    margin-left: 15px;
    height: 131px;
    width: 777px;
}

.separatorOfLogo {
    height: 37px;
}
