body {
    background-color: #FFF;
}

line {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

sv {
    width: 100%;
    height: 100%;
}

vl {
    width: 100%;
    height: 100%;
}

    vl line {
        background-color: #283636;
    }

hl {
    width: 100%;
}

dl {
    width: 100%;
}

    dl hl {
        width: 100%;
        height: 100%;
    }

TextView {
    padding-right: 5%;
    background-color: none;
    color: #444444;
}

Button {
    color: #fff;
}

CheckBox {
    width: 60px;
    height: 60px;
}

EditText {
    color: #000;
    background-color: #f0f0f0;
    border-style: solid;
    border-color: #cacaca;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

MemoEdit {
    color: #000;
    background-color: #f0f0f0;
    border-style: solid;
    border-color: #cacaca;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

WebMapGoogle {
    width: 100%;
    height: 100%;
}

.StockSKU {
    width: 100%;
    height: 100%;
}

	.StockSKU Image {
		width: 100%;
	}
	
.NoImage {
	height: 5%;
	width: 96%;
	margin-left: 2%;
	margin-top: 5%;
	padding-top: 0%;
	padding-right: 0%;
	text-align: center;
	white-space: normal;
	font: 69% Arial-BoldMT;
}

.btn_delete {
    background-image: url(trash_icon.png);
    height: 80%;
    horizontal-align: right;
    margin-left: 0%;
    margin-top: 10%;
}

.btn_showpicture {
    background-image: url(icon_image.png);
	height: 50%;
	horizontal-align: right;
    margin-top: 25%;
}

.btn_back {
    background-image: url(button_left.png);
    height: auto;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
    dock-align: left;
}

.btn_forward {
    background-image: url(button_right.png);
    height: auto;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
    dock-align: right;
}

.btn_grey_forward {
    background-image: url(button_right_disabled.png);
    height: auto;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
    dock-align: right;
}

.top_navigator {
    height: 10%;
    background-color: #282f5a;
}

    .top_navigator TextView {
        width: auto;
        height: auto;
        margin-top: 20%;
        margin-bottom: 20%;
		padding-right: 0%;
        text-align: center;
        color: #FFF;
        font: 60% arial;
    }

.search {
    height: 10%;
    background-color: #8b7498;
}

    .search Button {
        margin-left: 6%;
        margin-top: 20%;
        width: 30%;
        height: 60%;
        background-color: #282f5a;
        color: #ffffff;
        border-width: 1px;
        border-color: #283636;
        border-radius: 10px;
    }


    .search dl {
        margin-left: 2%;
        margin-top: 20%;
        height: 60%;
        width: 60%;
        border-width: 1px;
        border-color: #283636;
        background-color: #ffffff;
        border-radius: 10px;
    }

        .search dl img {
            height: auto;
            margin-top: 10%;
            margin-left: 2%;
            background-image: url(icon_zoom.png);
            background-color: #ffffff;
            dock-align: left;
        }

        .search dl EditText {
            width: auto;
            height: auto;
            margin-top: 10%;
            margin-right: 5%;
            padding-left: 5%;
            padding-top: 5%;
            background-color: #ffffff;
            color: #8b7498;
            border-style: none;
            dock-align: right;
            font: 80% arial;
        }


.grid {
}

    .grid line {
        background-color: #879091;
    }

    .grid hl {
        height: 12sp;
        selected-color: #bacdce;
    }

        .grid hl img {
            height: 30%;
            margin-top: 35%;
            background-image: url(icon_more.png);
        }

           .add_img {
                height: 32%;
                margin-top: 35%;
                background-image: url(icon_add.png);
            }

            .tick {
                height: 30%;
                margin-top: 35%;
                background-image: url(tick.png);
            }

            .empty_tick {
                height: 30%;
                margin-top: 35%;
                background-image: url(tick-white.png);
            }

            .info {
                height: 35%;
                margin-top: 35%;
                background-image: url(info.png);
            }

            .snapshot {
                height: 45%;
                margin-top: 35%;
                background-image: url(snapshot.png);
            }

        .grid hl CheckBox {
            selected-color: #6f6583;
            background-color: #c9c3d5;
        }

        .grid hl TextView {
            width: 100%;
            height: 100%;
            padding-top: 20%;
            font: 40% Arial;
        }

        .grid hl EditText {
            width: 98%;
            height: 50%;
            margin-top: 5%;
            margin-left: 1%;
            background-color: #f0f0f0;
            color: #000000;
            border-style: solid;
        }

        .grid hl vl {
            width: 90%;
            height: 90%;
            margin-top: 5%;
            padding-left: 5%;
        }

            .grid hl vl CheckBox {
                width: 100%;
                height: 66%;
                selected-color: #6f6583;
                background-color: #c9c3d5;
            }

            .grid hl vl TextView {
                width: 100%;
                height: 66%;
                white-space: normal;
                font: 40% Arial;
            }

            .grid hl vl EditText {
                width: 90%;
                height: 66%;
                border-style: solid;
                font: 40% Arial;
            }

            .grid hl vl MemoEdit {
                width: 90%;
                height: 66%;
                border-style: solid;
                font: 40% Arial;
            }

            .grid hl vl hl {
                width: 100%;
                height: 100%;
            }

                .grid hl vl hl TextView {
                    width: 50%;
                    height: 100%;
                    font: 60% Arial;
                }

            .grid hl vl description_row {
                width: 100%;
                height: 34%;
                white-space: nowrap;
                font: 60% Arial;
            }

            .grid hl vl hl left_description_row {
                width: 65%;
                height: 100%;
                white-space: nowrap;
                font: 60% Arial;
                color: #b2749b;
            }

            .grid hl vl hl right_description_row {
                width: 35%;
                height: 100%;
                white-space: nowrap;
                font: 60% Arial;
                color: #b2749b;
            }

        .grid hl half_width {
            width: 45%;
        }

        .grid hl partial_width {
            width: 83%;
        }

        .grid hl quarter_width {
            width: 15%;
        }

        .grid hl clipped {
            width: 88%;
            padding-left: 3%;
        }

        .grid hl red_mark {
            width: 2%;
            background-color: #ef0648;
        }

        .grid hl blue_mark {
            width: 2%;
            background-color: #78e4fc;
        }

       .grid hl white_mark {
            width: 2%;
            background-color: #ffffff;
        }

       .grid hl purple_mark{
              width: 2%;
            background-color: #dbd7e1;
        }

    .grid header_edit_block {
        background-color: #dbd7e1;
        width: 100%;
        margin-top: 0px;
    }


.text_block {
    height: 18sp;
}

    .text_block vl main_row {
        height: 75%;
        font: 24% Arial;
    }

    .text_block vl description_row {
        height: 20%;
        font: 68% Arial;
    }

.memo_block {
    height: 48sp;
}

    .memo_block vl {
        width: 98%;
        height: 90%;
        margin-top: 5%;
        margin-left: 1%;
        padding-left: 0%;
    }

        .memo_block vl description_row {
            height: 11%;
        }

        .memo_block vl MemoEdit {
            height: 80%;
            width: 100%;
            margin-top: 8%;
            margin-left: 0%;
            font: 8% Arial;
        }

.two_row_memo {
    height: 16sp;
}
    .two_row_memo vl {
            width: 95%;
            height: 95%;
            margin-top: 3%;
            margin-left: 0%;
            padding-left: 5%;
        }

            .two_row_memo vl description_row {
                margin-top: 3%;
                height: 25%;
            }

            .two_row_memo vl MemoEdit {
                height: 65%;
                width: 90%;
                margin-top: 3%;
                margin-left: 0%;
                padding-top: 1%;
                padding-bottom: 1%;
                font: 30% Arial;
            }

            
.memo_header {
    height: 16sp;
    background-color: #dbd7e1;
}

.main_row {
}

.caption_row {
    color: #b2749b;
    vertical-align: central;
    horizontal-align: central;
}

.warning_row {
    color: #cf3333;
}

.description_row {
    color: #b2749b;
}

.header {
    height: 12sp;
    background-color: #dbd7e1;
}

    .header grid hl {
        height: 100%;
    }
