.layout_on {
    margin-left: 15%;
    margin-top: 20%;
    width: 60%;
    height: 60%;
    background-color: #282f5a;
    color: #282f5a;
    border-width: 1px;
    border-color: #283636;
    border-radius: 10px;
}

.layout_off {
    margin-left: 15%;
    margin-top: 20%;
    width: 60%;
    height: 60%;
    background-color: #a9a5af;
    color: #282f5a;
    border-width: 1px;
    border-color: #837f89;
    border-radius: 10px;
}

.grid hl half_width {
    width: 50%;
}

.gridEdit {
    background-color: #dbd7e1;
}