vl hl {
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
}

.logoEn {
    background-image: url(LogoEn.png);
}

.logoRu {
    background-image: url(LogoRu.png);
}

Indicator {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    color: #8a9d9e;
}

.menu {
    height: 100%;
    width: 100%;
    padding-top: 1%;
}

    .menu hl {
        height: 25%;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
        padding-left: 0%;
    }

        .menu hl Button {
            width: 28%;
            margin-left: 4%;
            background-color: #fff;
            vertical-align: bottom;
        }

        .menu hl hl {
            width: 28%;
            margin-left: 4%;
            margin-top: 0%;
            vertical-align: bottom;
        }

        .menu hl TextView {
            width: 28%;
            height: 80%;
            margin-left: 4%;
            margin-top: 0%;
            text-align: center;
            font: 60% arial;
            padding-top: 10%;
        }

    .menu title {
        height: 6%;
    }



.btn_todo {
    background-image: url(todo.png);
}

.btn_distr {
    background-image: url(distr_active.png);
}

.btn_schedule {
    background-image: url(schedule.png);
}

.btn_order {
    background-image: url(order_active.png);
}

.btn_visit {
    background-image: url(visit.png);
}

.btn_outlets {
    background-image: url(outlets.png);
}

.btn_kpi {
    background-image: url(kpi_disabled.png);
}

.btn_settings {
    background-image: url(settings_disabled.png);
}

.btn_sync {
    background-image: url(sync.png);
}

.ftp_sync {
    background-image: url(ftpSync.png);
}
