.cell vl {
    width: 40%;
    margin-top: 0%;
}

    .cell vl EditText {
        margin-top: 2%;
        width: 90%;
    }

.33 vl{
    width: 33%;
    margin-top: 0%;
}
    
    .33 vl EditText {
        margin-top: 2%;
        width: 90%;
    }

   .33 vl TextView{
        width: 90%;
    }

     .33 vl CheckBox{
        margin-top: 2%;
        width: 90%;
    }
		
.60 {
    height: 60%;
	width: 100%;
    margin-top: 0%;
}
	
	.60 Image {
		width: 100%;
		margin-top: 0%;
	}

.grid hl half_width {
    width: 50%;
}


.44 vl{
    width: 25%;
    margin-top: 0%;
    horizontal-align: central;
    padding-left: 0%;
}

    .44 vl TextView{
        width: 100%;
        height: 23%;
        margin-top: 2%;
        white-space: normal;
        font: 80% Arial;
        color: #b2749b;
        text-align: center;
}

    
        .bold_text{
        width: 100%;
        height: 23%;
        margin-top: 2%;
        white-space: normal;
        font: 80% Arial;
        color: #444444;
        text-align: center;
}

.header {
    background-color: #dbd7e1;
    
    
}