.cell vl {
    width: 40%;
    margin-top: 0%;
}

    .cell vl EditText {
        margin-top: 2%;
        width: 90%;
    }

.33 vl{
    width: 33%;
    margin-top: 0%;
}
    
    .33 vl EditText {
        margin-top: 2%;
        width: 90%;
    }

   .33 vl TextView{
        width: 90%;
    }

     .33 vl CheckBox{
        margin-top: 2%;
        width: 90%;
    }
		
.60 {
    height: 60%;
	width: 100%;
    margin-top: 0%;
}
	
	.60 Image {
		height: 100%;
		margin-top: 0%;
		horizontal-align: central;
	}

.grid hl half_width {
    width: 50%;
}

.header {
    background-color: #dbd7e1;
    
    
}