.header {
    background-color: #dbd7e1;
    width: 30%;
}

    .header TextView {
        vertical-align: central;
        horizontal-align: central;
    }

.white {
    width: 5%;
}

.answerfield {
    width: 32%;
}

.center_caption {
    color: #b2749b;
    margin-left: 32%;
    margin-top: 22%;
}

.yes_caption {
    color: #b2749b;
    margin-left: 35%;
    margin-top: 22%;
}

.caption_answer {
    vertical-align: central;
    margin-left: 10%;
    margin-top: 22%;
}
