
.editLine {
    background-color: #879091;
    margin-top: 0px;
}

.blockEdit {
    background-color: #dbd7e1;
}

.search dl {
    margin-left: 2%;
    margin-top: 20%;
    height: 60%;
    width: 62%;
    border-width: 1px;
    border-color: #283636;
    background-color: #ffffff;
    border-radius: 10px;
}

.search Button {
    margin-left: 2%;
    margin-top: 20%;
    width: 20%;
    height: 60%;
    background-color: #282f5a;
    color: #282f5a;
    border-width: 1px;
    border-color: #283636;
    border-radius: 10px;
}

.set_filter {
    background-image: url(filterOn.png);
    height: 60%;
    width: 10%;
    margin-top: 20%;
    margin-left: 2%;
}

.off_filter {
    background-image: url(filterOff.png);
    height: 60%;
    width: 10%;
    margin-top: 20%;
    margin-left: 2%;
}