.grid hl vl purple_row {
    color: #b2749b;
}

.header {
    background-color: #dbd7e1;
}

.grid hi vl hl TextView {
    width: 50%;
    height: 50%;
}

.snapshot {
    height: 50%;
    margin-top: 35%;
    background-image: url(snapshot.png);
}

.grid hl half_width {
    width: 45%;    
}

.grid hl half_width TextView {
    margin-top: 40%;
}
