.grid hl vl purple_row {
    color: #b2749b;
}

.header {
    background-color: #dbd7e1;
    width: 30%;
}

    .header TextView {
        vertical-align: central;
        horizontal-align: central;
    }

.white {
    width: 5%;
}

.answerfield {
       width: 32%;
}

.grid hi vl hl TextView {
    width: 50%;
    height: 50%;
}

.snapshot {
    height: 50%;
    margin-top: 35%;
    background-image: url(snapshot.png);
}

.grid hl half_width {
    width: 45%;
}

    .grid hl half_width TextView {
        margin-top: 40%;
    }

.33 vl {
    width: 33%;
    margin-top: 0%;
}

    .33 vl EditText {
        margin-top: 2%;
        width: 90%;
    }

    .33 vl TextView {
        width: 90%;
    }


    .center_caption {
    color: #b2749b;
    margin-left: 30%;
    margin-top: 22%;
}